@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400&display=swap");
body,
html {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.hero {
    height: 100%;
    background: url(./images/hero_drone.jpg);
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero>ul {
    width: 100%;
    position: absolute;
    top: 15px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.hero>ul>li>a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Lato", sans-serif;
    font-size: 40px;
    line-height: 0px;
    font-weight: 200;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.hero-content {
    position: relative;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#logo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.triangle {
    border-style: solid;
    border-width: 0 327.5px 100px 327.5px;
    border-color: transparent transparent #b00605 transparent;
}

#logo>h1 {
    width: 823px;
    height: 200px;
    font-family: "Bebas Neue", cursive;
    font-weight: normal;
    font-size: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 25px auto 0 auto;
}

#divider--red {
    width: 75%;
    height: 10px;
    background-color: #b00605;
}

.hero-content>h2 {
    width: 655px;
    height: 281px;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 60px;
    line-height: 72px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 4px 13px 15px #000000;
    margin: 0 auto 0 auto;
}

.text_highlight {
    font-weight: 600;
}

#arrow_down {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}

#arrow_down--circle {
    background: #021322;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow_down--arrow {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 38px solid #b00605;
    border-right: 23px solid transparent;
    border-left: 23px solid transparent;
}

.divider_section--red {
    width: 100vw;
    height: 10px;
    background-color: #b00605;
}

.section_background--blue {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #021322;
}

.section-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30px;
    font-family: "Bebas Neue", cursive;
    font-size: 88px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.section-header>h3 {
    margin: 0;
}

.divider_header--red {
    width: 1312px;
    height: 3px;
    background-color: #b00605;
}

.container_products {
    height: 100%;
    padding: 0 59px 0 108px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#text_left {
    width: 629px;
    height: 609px;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}

#text_left>h4 {
    font-weight: 200;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.divider_text--red {
    width: 95%;
    height: 2px;
    background-color: #b00605;
}

#image--right {
    width: 1010px;
    height: 700px;
    margin-top: 66px;
    background-color: #b00605;
    box-shadow: inset 0px 14px 20px rgba(0, 0, 0, 0.95);
}

.section_services {
    height: 1080px;
    width: 1900px;
    background: url(./images/hero_drone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container_services {
    width: 100%;
    height: 666px;
    margin: 125px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.container_services--card {
    width: 434px;
    height: 666px;
    background: rgba(4, 4, 4, 0.1);
    box-shadow: -3px 3px 0px #b00605;
    backdrop-filter: blur(154px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.services_card--img {
    width: 402px;
    height: 302px;
    background: #021322;
}

.services_card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services_card_text--header {
    width: 392px;
    font-family: "Bebas Neue", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 37px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 16px 0 16px;
}

.services_card_text--describ {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    padding: 0 16px 0 16px;
}